<div  class="packHeader">
    <img src="./assets/images/Bin_logo.png" />
  <span class="title">  {{title}}</span>
</div>
<div class="form-group" class="browseCont">
  <div class="leftCont paddTop">
    <label class="selectF">• Επιλέξτε αρχείο</label>
    <input #myFile type="file" (change)="csv2Array($event)" name="myFile" accept=".csv" class="myFile">
  </div>
  <div class="clearBtnCont">
    <input type="button" value="ΚΑΘΑΡΙΣΜΟΣ" id="clear" (click)="clearFile()" class="clearBtn" />
  </div>
</div>
<div class="calcCont">
  <div class="leftCont">
    <div class="maxHeight">
      • Μέγιστο ύψος:<br><input [(ngModel)]="containerHeight" type="number" value="210" class="inputHeight" /> cm.
      <div style="margin-top:20px">
        <label class="PalLine" for="isPallet">Με παλέτες ανά σειρά </label><input id="isPallet" type="checkbox" [(ngModel)]="isPallet" />
        <span class="txtSmall" *ngIf="isPallet">σε κάθε σειρά υπολογίζεται αυτόματα μια παλέτα.</span>
      </div>
    </div>
    <div *ngIf="isPallet" style="margin-top:15px">
      <label class="PalLine" for="MaxPals">Μέγιστος αριθμός Παλετών</label>
      <input class="MaxPals" id="MaxPals" type="number" [(ngModel)]="MaxPals" />
    </div>
  </div>
    <div class="calcBtnCont">
        <input type="button" value="ΥΠΟΛΟΓΙΣΜΟΣ" (click)="calculate()" class="calcBtn" />
    </div>
</div>
<div class="clearL">
  <div  class="Customers">
    Πλήθος Παλετών: {{binsFin.length}}
  </div>
    <!-- <div *ngFor="let pack of binsFin; let i = index;" style="font-family:Arial, Helvetica, sans-serif;">
    </div> -->
<div *ngFor="let pack of binsFin; let i = index;" class="content">
  <div class="paleta">
    <div class="paletaInside">
      <div class="paletaHeight">
          <strong>{{i+1}}. Ύψος Παλέτας: <span [ngClass]="{'warrning': pack.sum > containerHeight}" >{{pack.sum}}</span>, Τύπος: {{pack.type}}</strong>
      </div>
      <div class="txtFont" *ngFor="let item of pack.items"
        [ngClass]="{'gray': item.type == 'PAL'}">

        <div *ngIf="item.type != 'PAL'" class="borderBottom">
          <div class="lineHeight">
            Κωδικός: {{item.code}}
          </div>
          <div class="lineHeight">
            {{item.desc}}
          </div>
            Ύψος: {{item.height}}
        </div>
        <div *ngIf="item.type == 'PAL'" class="borderTop">
          <div class="lineHeight">
              Κωδικός: {{item.code}}, {{item.desc}}, Ύψος: {{item.height}}
          </div>
          <!-- Τύπος: {{item.type}} -->
        </div>
    </div>
  </div>
</div>
<!-- Grafiko -->
<!-- [style.height.%]="((item.height * 100) / containerHeight) | number:'1.2-2'" -->
  <div class="gfxContainerSpace">
    <div class="gfxMax" *ngIf="isMaxReached(pack.sum)"></div>

    <div *ngFor="let item of pack.items" class="gfxBox"
          [style.height.%]="getGfxHeight(item, pack.sum)"
          [ngClass]="{'gfxPal': item.type == 'PAL'}">
    </div>
  </div>
  <div class="clearB"></div>
</div>
  <!-- <span *ngFor="let pack of binsFin; let i = index;" style="font-family:Arial, Helvetica, sans-serif;">
      <strong>{{i+1}}.</strong> Ύψος Παλέτας: <span [ngClass]="{'warrning': pack.sum > containerHeight}" >{{pack.sum}}</span>, Τύπος: {{pack.type}}:
      <pre  style="font-family:Arial, Helvetica, sans-serif;" *ngFor="let item of pack.items.reverse()"
      [ngClass]="{'gray': item.type == 'PAL'}"> Κωδικός: {{item.code}} - {{item.desc}}, Ύψος: {{item.height}}, Τύπος: {{item.type}}</pre>
    <br>
  </span> -->
</div>