<div  class="packHeader">
    <img src="/assets/images/Bin_logo.png" />
  <span class="title">  {{title}}</span>
</div>

<div class="form-group" class="browseCont">
  <div class="leftCont paddTop">
    <label class="selectF">• Επιλέξτε αρχείο</label>
    <input #myFile type="file" (change)="csv2Array($event)" name="myFile" accept=".csv" class="myFile">
  </div>
  <div class="clearBtnCont">
    <button id="clear" (click)="clearFile()" class="clearBtn">ΚΑΘΑΡΙΣΜΟΣ</button>
  </div>
</div>

<div class="calcCont">
  <div class="leftCont" style="height:100px;">
    <div class="maxHeight">
      • Μέγιστο ύψος:<br><input [(ngModel)]="containerHeight" type="number" value="210" class="inputHeight" /> cm.
    </div>

    <label class="PalLine" for="isPallet">• Με παλέτες ανά σειρά </label><input id="isPallet" type="checkbox" [(ngModel)]="isPallet"/>
    <span *ngIf="isPallet"><br>σε κάθε σειρά υπολογίζεται αυτόματα μια παλέτα.</span>
  </div>

    <div class="calcBtnCont" >
      <button (click)="calculate()" class="calcBtn">ΥΠΟΛΟΓΙΣΜΟΣ</button>
    </div>
</div>
<br><br>

<div style="clear:left;margin-top:140px;">
  <div  class="Customers">
    Πλήθος Παλετών: {{binsFin.length}}
  </div>

    <!-- <div *ngFor="let pack of binsFin; let i = index;" style="font-family:Arial, Helvetica, sans-serif;">

    </div> -->



<div *ngFor="let pack of binsFin; let i = index;" style="font-family:Arial, Helvetica, sans-serif;margin-left:20px;margin-bottom:20px;border-bottom:0px dashed #ccc;width:100%;overflow:visible">
  <div style="float:left;width:60%;margin-bottom:30px;">
    <div style="height:auto;width:100%;">
      <div style="background-color:#f3f7f8;padding-top:5px;padding-bottom:5px;">
          <strong>{{i+1}}. Ύψος Παλέτας: <span [ngClass]="{'warrning': pack.sum > containerHeight}" >{{pack.sum}}</span>, Τύπος: {{pack.type}}</strong>
      </div>
        <div style="font-family:Arial, Helvetica, sans-serif;" *ngFor="let item of pack.items.reverse()"
        [ngClass]="{'gray': item.type == 'PAL'}">

        <div *ngIf="item.type != 'PAL'" style="border-bottom:1px dashed #ccc;padding-bottom:8px;padding-top:8px">
            <div style="line-height:140%">
                Κωδικός: {{item.code}}
            </div>
            <div style="line-height:140%">
                {{item.desc}}
            </div>
              Ύψος: {{item.height}}
        </div>

        <div *ngIf="item.type == 'PAL'" style="padding-top:8px;border-bottom:1px dashed #ccc;padding-bottom:8px;">
            <div style="line-height:140%">
                Κωδικός: {{item.code}}, {{item.desc}}, Ύψος: {{item.height}}
            </div>

          <!-- Τύπος: {{item.type}} -->
        </div>

    </div>

  </div>
</div>



<!-- Grafiko -->
<!-- [style.height.%]="((item.height * 100) / containerHeight) | number:'1.2-2'" -->
  <div style="height:150px;width:100px;display: table-cell;vertical-align: bottom; position: relative;
  background-color: gray; background-image: repeating-linear-gradient(45deg, transparent, transparent 5px, rgba(255,255,255,.3) 5px, rgba(255,255,255,.3) 10px);">
    <div style="top: 0px; width: 100%; height: 6px; background-color: red; position: absolute;
    background-image: repeating-linear-gradient(90deg, transparent, transparent 5px, rgba(255,255,255,.6) 5px, rgba(255,255,255,.6) 10px);" *ngIf="isMaxReached(pack.sum)"></div>

    <div *ngFor="let item of pack.items" class="gfxBox"
          [style.height.%]="getGfxHeight(item, pack.sum)"
          [ngClass]="{'gfxPal': item.type == 'PAL'}">

    </div>

  </div>
  <div style="clear:both"></div>
</div>




  <!-- <span *ngFor="let pack of binsFin; let i = index;" style="font-family:Arial, Helvetica, sans-serif;">
      <strong>{{i+1}}.</strong> Ύψος Παλέτας: <span [ngClass]="{'warrning': pack.sum > containerHeight}" >{{pack.sum}}</span>, Τύπος: {{pack.type}}:
      <pre  style="font-family:Arial, Helvetica, sans-serif;" *ngFor="let item of pack.items.reverse()"
      [ngClass]="{'gray': item.type == 'PAL'}"> Κωδικός: {{item.code}} - {{item.desc}}, Ύψος: {{item.height}}, Τύπος: {{item.type}}</pre>
    <br>
  </span> -->

</div>
