/* You can add global styles to this file, and also import other style files */
.packHeader{
    text-align:center;
    height:60px;
    background-color:#d9e2e6;
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
    padding-top:25px;
    margin-bottom:30px;
    text-align: left;
    padding-left: 20px;
}
.title{
    position: absolute;
    padding-left:20px;
    padding-top:5px;
}
.browseCont{
    width:500px;
    height:75px;
    border-bottom:1px dashed #ccc;
}
.calcCont{
    float:left;
    width:500px;
    height:auto;
    margin-top:20px;
    padding-bottom:15px;
    border-bottom:1px dashed #ccc;
}
.clearBtn{
    width:150px!important;
    height:40px!important;
    background-color:#6d98ab!important;
    border:0!important;
    font-size:16px!important;
    color:#fff!important;
    font-family: Arial, Helvetica, sans-serif!important;
    margin-top:15px!important;
    cursor: pointer;
}
.clearBtnCont{
    float:left;
}
.calcBtn{
    width:150px!important;
    height:40px!important;
    background-color:#e7921c!important;
    border:0!important;
    font-size:16px!important;
    color:#fff!important;
    margin-top:60px!important;
    font-family: Arial, Helvetica, sans-serif!important;
    cursor: pointer;
}
.calcBtnCont{
    vertical-align:bottom;
    float:left;
}
.leftCont{
    float:left;
    width:240px;
}
.selectF{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#4d7c90;
}
.myFile{
    margin-top:10px;
    margin-left:10px;
    width:200px;
}
.paddTop{
    padding-top:5px
}
.maxHeight{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#df6900
}
.PalLine{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:#df6900;
    padding-left:10px;
}
.MaxPals{
    margin-left:10px;
    margin-top:10px
}
.txtSmall{
    font-size:13px;
    font-family:Arial, Helvetica, sans-serif;
    color:#000;
    margin-left:10px;
    display: inline-block;
    padding-right:15px;
}
.inputHeight{
    margin-top:10px;
    margin-left:10px
}
.Customers{
    text-align:center;
    height:30px;
    background-color:#f4ede3;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    padding-top:5px;
    margin-bottom:30px;
    text-align: left;
    padding-left: 20px;
}
.clearL{
    clear:left;
}
.clearB{
    clear:both;
}
.content{
    font-family:Arial, Helvetica, sans-serif;
    margin-left:20px;
    margin-bottom:20px;
    border-bottom:0px dashed #ccc;
    width:100%;
    overflow:visible
}
.paleta{
    float:left;
    width:60%;
    margin-bottom:30px;
}
.paletaInside{
    height:auto;
    width:100%;
}
.paletaHeight{
    background-color:#f3f7f8;
    padding-top:5px;
    padding-bottom:5px;
}
.txtFont{
    font-family:Arial, Helvetica, sans-serif;
}
.borderBottom{
    border-bottom:1px dashed #ccc;
    padding-bottom:8px;
    padding-top:8px
}
.borderTop{
    padding-top:8px;
    border-bottom:1px dashed #ccc;
    padding-bottom:8px;
}
.lineHeight{
    line-height:140%;
}